.header {      
    color: white;    
    }
    bold {      
      font-weight: bold;      
      color: white;    }   
      body {      
        background-color: black;    
        }    
        .collabvm {      
          color: white;    
          }    
          em {      
            color: crimson;           
            font-style: normal;    
            }    
            h1 {      
              color: white;    
              }    
              p {      
                color: white;    
                }  